   .user{
    float:right;

    a{
      margin:3px;
    }

    .userEnter{
      margin: 3px;
      background-color:lightyellow;
    }
    
    p {
      font-size: large;
    }
  }
  
  .ThumbnailChar {
    padding:10px;
    height:180px;
    width:320px;
    background-color: lightcyan;
    margin:4px;
    img{
      display:block;
      margin-left:auto;
      margin-right:auto;
      height:120px;
      width:260px;
      background-color: darkblue;
    }

    h4{
      float:left;
    }

    p{
      float:right;
      color:gray;
    }

  }
  