$ThumbnailWidth:320px;

.SearchBar{
  height:25px;
  width:250px;
  border-radius: 0%;
  border: 1px solid gray;
}
  .user{
    float:right;

    a{
      margin:3px;
    }

    .userEnter{
      margin: 3px;
      background-color:lightyellow;
    }
    
    p {
      font-size: large;
    }
  }

  .btn{
    background-color: darkgreen;
    width:90px;
    height:45px;
    *{
      display:block;
      float:center;
      text-align:center;      
      font-size:15px;
      color:lightyellow;
      text-decoration: none;
    }

  }
  
  .list{
    margin: 10px;
    column-gap:20px;
    column-width: $ThumbnailWidth;
    
    
    &-container{
      display:grid;
    }

    &-layout{
      display:grid;
      grid-template-columns:auto auto;
      grid-column-gap:20px;
      //column-rule: 3px double black;
    }

    &-relations{
      display:grid;
      grid-template-columns: auto auto auto auto;
      grid-column-gap:20px;
    }
  }

  .characterThing{
    list-style-type: none;
    padding:3px;
    margin:2px;
    border:2px solid darkblue;
    background-color:lightblue;
  }

  .Thumbnail {
    &-char{
      padding:10px;
      height:180px;
      width:$ThumbnailWidth;
      margin:4px;
  
      background-color: lightcyan;
      
      img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        height:120px;
        width:260px;
        background-color: darkblue;
      }

      h4{
        float:left;
      }
  
      p{
        float:right;
        color:gray;
      }
  }
    &-story{
      padding:10px;
      height:180px;
      width:$ThumbnailWidth;
      margin:4px;
  
      background-color: lightcoral;

      img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        height:120px;
        width:$ThumbnailWidth;
        background-color: crimson;
      }

      h4{
        float:left;
      }
  
      p{
        float:right;
        color:gray;
      }
    }

  }
  